.topbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}

.survey-list {
  padding: 20px;
  background-color: #f0f0f0;
}
.survey-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.survey-actions {
  display: flex;
  gap: 30px;
}

.survey-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 20px;
  padding: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.survey-content {
  flex-grow: 1;
  cursor: pointer;
}
.survey-item:hover {
  background-color: #f0f0f0; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.survey-item h2 {
  margin-top: 0;
}
.action-icon-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  transition: background-color 0.3s;
}

.action-icon-container:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.action-icon {
  font-size: 23px;
}

.description-textbox{
  margin-bottom: 15px;
}

.new-survey-btn, .create-survey-btn {
  background-color: #54b6b9;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  width: 100%;
  margin-top: 20px;
}

.new-survey-btn:hover {
  background-color: #28a3a7;
}

.create-survey-btn {
  background-color: #ffc107;
  color: black;
}

.create-survey-btn:hover {
  background-color: #e0a800;
}

.survey-create {
  padding: 20px;
}

.survey-create input, .survey-create .ant-input-affix-wrapper, .survey-create .ant-input-textarea-wrapper, .survey-create button {
  margin-bottom: 15px;
}

.switch-btn, .add-question-btn, .remove-btn {
  margin-left: 10px;
  cursor: pointer;
}

.add-question-btn {
  background-color: #ebebeb;
  color: rgb(28, 28, 28);
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.add-question-btn:hover {
  background-color: #b5b5b5;
}

.question-container {
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.choice-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 20px;
  margin-top: 10px;
}

.choice-container input {
  flex-grow: 1;
  margin-right: 10px;
}

.question-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.question-header .ant-input {
  flex-grow: 1;
  margin-right: 10px;
}

.question-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-icon {
  color: red;
  cursor: pointer;
  transform: translateY(-50%);
}

.remove-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.remove-btn:hover {
  background-color: #c82333;
}
.create-survey-button {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 97.5%;
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.create-survey-button:hover {
  background-color: #40a9ff;
}
.survey-create {
  padding-bottom: 60px;
}

.survey-info {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.survey-info h2 {
  color: #1890ff;
  margin-bottom: 15px;
}

.question {
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 15px;
  background-color: #f5f5f5;
  transition: background-color 0.3s, box-shadow 0.3s;
}
.question:hover {
  background-color: #e9ecef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}
.question h3 {
  color: #333;
  margin-bottom: 10px;
}

.question ul {
  list-style: none;
  padding-left: 20px;
}

.question li {
  padding: 5px 0;
}
.question li {
  list-style: none;
  margin: 5px 0;
}

.question label {
  display: flex;
  align-items: center;
}

.question input[type="checkbox"] {
  margin-right: 10px;
}
.question textarea {
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
}

.app-container {
  display: flex;
  overflow: hidden;
}
.register-container {
  display: flex;
  overflow: hidden;
}

.menu-toggle {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: -250px; /* Inicialmente oculto */
  top: 0;
  bottom: 0;
  transition: left 0.3s ease;
  background-color: #f3f3f3;
  overflow-y: auto;
}
.app-container.menu-open .sidebar {
  left: 0;
}
.register-container.menu-open .sidebar {
  left: 0;
}
.sidebar.open {
  transform: translateX(0);
}

.content {
  flex-grow: 1;
  padding: 20px;
  margin-left: 250px; /* Espacio para la sidebar */
  transition: margin-left 0.3s ease;
}


@media screen and (min-width: 768px) {
  .content {
    margin-left: 250px;
  }
}
.app-container {
  display: flex;
}
.register-container {
  display: flex;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  background-color: #f3f3f3;
  overflow-y: auto;
}

.app-container.menu-open .sidebar {
  transform: translateX(0);
}
.register-container.menu-open .sidebar {
  transform: translateX(0);
}

.content {
  flex-grow: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.app-container:not(.menu-open) .content {
  margin-left: 0;
}
.register-container:not(.menu-open) .content {
  margin-left: 0;
}

.menu-toggle {
  position: absolute;
  z-index: 2;
}
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #686868;
  color: white;
  padding: 10px;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.menu-toggle {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

/* Survey.css */

/* Estilos comunes */
.topbar {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.menu-toggle {
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.sidebar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  background-color: #f3f3f3;
  overflow-y: auto;
}



.content {
  flex-grow: 1;
  margin-left: 250px;
  transition: margin-left 0.3s ease;
  padding: 20px;
}

.app-container:not(.menu-open) .content {
  margin-left: 0;
}
.register-container:not(.menu-open) .content {
  margin-left: 0;
}

/* Estilos específicos de SurveyInfo */
.survey-info {
  margin-top: 50px; /* Ajuste para no quedar detrás de la barra superior */
}

.survey-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.survey-actions {
  display: flex;
  gap: 30px;
}

.survey-info h2 {
  color: #1890ff;
  margin-bottom: 15px;
}

.question {
  margin-top: 20px;
  padding: 10px;
  padding-left: 30px;
  border-radius: 15px;
  background-color: #f5f5f5;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.question:hover {
  background-color: #e9ecef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.12);
}

.question h3 {
  color: #333;
  margin-bottom: 10px;
}

.question ul {
  list-style: none;
  padding-left: 20px;
}

.question li {
  padding: 5px 0;
}

.question label {
  display: flex;
  align-items: center;
}

.question input[type="checkbox"] {
  margin-right: 10px;
}

.question textarea {
  width: 98%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 100px;
}
/* Estilos existentes ... */

.sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 500;
  border-bottom: 1px solid #f0f0f0;
}

.menu-item:hover {
  background-color: #e6f7ff;
  color: #1890ff;
}

/* Resto de tus estilos... */
.login-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  background: #fff;
}

.login-form {
  max-width: 300px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.site-form-item-icon {
  color: rgba(0, 0, 0, 0.25);
}
.login-container{
  width: 50%;
}

